html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  background: #333;
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.logo {
  margin-top: 50px;
}

.title {
  font-size: 2em;
  margin-top: 10px;
}

.subtitle {
  padding: 0 10px;
  font-size: 3em;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
  margin-top: 40px;
}

.coming-soon {
  font-family: 'Roboto', Arial, sans-serif;
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: 300;
}

.site-wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 480px;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .site-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .site-wrapper {
    width: 100%;
    margin: 0;
  }
}
