@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
html, body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  background: url(/gre.jpg) no-repeat center top;
  background-position-y: -50px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  html, body {
    background-position-y: -220px absolute;
  }
}

svg.logo {
  margin-top: 50px;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}

.title {
  font-size: 2em;
  margin-top: 10px;
}

.subtitle {
  padding: 0 10px;
  font-size: 3em;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
  margin-top: 60px;
}

.coming-soon {
  font-family: 'Roboto', Arial, sans-serif;
  margin-top: 70px;
  font-size: 1.5em;
  font-weight: 300;
}

ul.social {
  margin-top: 50px;
  padding-bottom: 100px;
  font-size: 3em;
}

li.social-link {
  display: inline;
  margin: 10px;
}
li.social-link a:link, li.social-link a:visited {
  color: #fff;
}
li.social-link a:hover {
  color: #d5d5d5;
}
li.social-link a:clicked {
  color: #bbbbbb;
}

.site-wrapper {
  width: 960px;
  margin: 0 auto;
  min-height: 480px;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .site-wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .site-wrapper {
    width: 100%;
    margin: 0;
  }
}
